SECRET_API_KEY=change-me-admin-api-key
DATABASE_URL=host=127.0.0.1 user=relay password=relay_dev dbname=relay port=5432 sslmode=disable TimeZone=UTC
RELAY_ENROLLMENT_TOKEN=local-dev-enrollment-token
TLS_CLIENT_AUTH=require
RELAY_GRPC_CERT_FILE=certs/server.crt
RELAY_GRPC_KEY_FILE=certs/server.key
RELAY_ADMIN_CERT_FILE=certs/admin.crt
RELAY_ADMIN_KEY_FILE=certs/admin.key
RELAY_DEVICE_CA_CERT_FILE=certs/ca.crt
RELAY_DEVICE_CA_KEY_FILE=certs/ca.key
RELAY_GOAWAY_SHUTDOWN_DRAIN_MS=5000
RELAY_SHUTDOWN_TIMEOUT_SECONDS=15
